<div class="main">
  {{#if isEditing}}
    <h2>{{input value=post.title}}</h2>
    <p>{{textarea value=post.body rows="5" cols="45"}}</p>
  {{else}}
    <h2>{{post.title}}</h2>
    <p>{{post.body}}</p>
  {{/if}}
</div>

{{#if isEditing}}
  <button {{action 'save'}}>Save</button>
{{else}}
  <button {{action 'edit'}}>Edit</button>
{{/if}}